.navbar-custom {
  background: linear-gradient(to bottom, #a013968f, #ffffff);
  /* background: linear-gradient(189.2deg, #A01397 -113.27%, rgba(255, 255, 255, 0.25) 131.32%); */
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  height: 85px;
}

.navbar-custom .nav-link {
  color: #2c0032 !important;
  font-weight: 500;
  font-size: 18px;
}

.navbar-custom .nav-link:hover {
  color: #6a1b9a !important;
}

.banner {
  position: relative;
}

.circle-group {
  position: absolute;
  top: 100px;  /* jarak dari bawah banner */
  left: 100px;    /* jarak dari kiri banner */
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Warna gradasi tiap lingkaran */
.purple1 {
  background: linear-gradient(180deg, #6217BE 0%, rgba(46, 11, 88, 0) 100%);
}
.purple2 {
  background: linear-gradient(180deg, #A01397 0%, rgba(58, 7, 55, 0) 100%);
}
.purple3 {
  background: linear-gradient(180deg, #4A1255 0%, rgba(162, 40, 187, 0) 100%);
}
.purple4 {
  background: linear-gradient(180deg, #3E0E4B 0%, rgba(120, 30, 120, 0) 100%);
}

/* Bungkus bintang */
.star-wrapper {
  position: absolute;
  top: 180px;   /* atur posisi */
  right: 100px; /* atau pakai left sesuai kebutuhan */
  width: 450px;
  height: 450px;
}

/* Lingkaran radial */
.star-bg {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(74, 18, 85, 0.9) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Bentuk bintang */
.star-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 355px;
  height: 355px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(255, 255, 255, 0.4) 0deg,
    #4A1255 290deg,
    rgba(255, 255, 255, 0.4) 360deg
  );
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  ); /* bikin bintang 5 sisi */
  transform: rotate(-15deg) scale(0.95);
  box-shadow: inset 0 4px 4px rgba(0,0,0,0.25);
}

